body {
  background: no-repeat center center fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-size: cover;
  -webkit-user-select: none;
  font-family:
    'HelveticaNeue-UltraLight',
    'Helvetica Neue UltraLight',
    'Helvetica Neue',
    'Open-Light',
    sans-serif;
}

#main {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
}

.background-source,
.credits {
  text-shadow: 0 0 3px black;
}

.background-source {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
  font-size: 12px;
}

.background-source a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 12px;
}

.credits {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: white;
  font-size: 12px;
}

.app-content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.loading-extension {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-info {
  margin-top: 10px;
  font-size: 18px;
}

.loading-extension.fade {
  opacity: 0;
}

.fade {
  transition: all 0.4s ease;
}

.tabduke-logo {
  width: 60px;
  height: 60px;
  color: white;
  background-color: #001a57;
  border-radius: 50px;
  box-shadow: 0 0 4px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

/* Time */
.time-display-container {
  color: white;
  text-shadow: 0 0 5px black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.time-display {
  font-size: 12em;
  font-weight: 500;
}

.time-display.bold {
  font-family: 'Roboto', sans-serif;
}

.date-display {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

/* Bookmarks */
.bookmarks-container {
  margin-top: 10px;
  display: flex;
  border-radius: 10px;
}

.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  padding-bottom: 0;
  width: 80px;
}

.bookmark-image {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.bookmark-image.hovered {
  box-shadow: 0 0 10px white;
}

.bookmark a {
  text-decoration: none;
}

.bookmark-icon {
  font-size: 48px;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark-label {
  font-size: 14px;
  color: white;
  text-shadow: 0 0 3px black;
  width: 120px;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  text-align: center;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  overflow-wrap: break-word;
}

.bookmark-label.shown {
  opacity: 1;
  bottom: -24px;
  transition: all 0.3s ease;
}

/* Restaurants */
.list-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 300px;
  margin-left: 30px;
  box-shadow: 0 0 4px black;
}

.list-container:first-child {
  margin-left: 0;
}

.list-header {
  padding: 10px;
  background-color: #001A57;
  color: white;
  text-align: center;
  opacity: 0.8;
  height: 30px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid white;
}

.food-list,
.bus-list {
  height: 160px;
  overflow: auto;
  overflow-x: hidden;
}

.food-truck {
  padding: 10px;
  cursor: default;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.food-truck-label {
  font-size: 18px;
}

.food-truck-times {
  margin-top: 5px;
  font-size: 11px;
  color: white;
  box-shadow: 0 0 2px black;
  padding: 3px 5px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 3px;
}

.restaurant {
  padding: 4px 0;
  cursor: default;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.restaurant:first-child {
  margin-top: 0;
}

.restaurant:last-child {
  padding-bottom: 6px;
}

.restaurant-label {
  margin-left: 10px;
  padding: 3px 0;
}

.restaurant-name {
  font-size: 18px;
}

.restaurant-status-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2px;
}

.restaurant-status {
  padding: 3px 5px;
  background-color: #00b300;
  border-radius: 3px;
  box-shadow: 0 0 2px black;
  font-size: 10px;
  color: white;
}

.restaurant-status.closed {
  background-color: red;
}

.restaurant-status.closing {
  background-color: #fddd46;
  color: black;
}

.restaurant-status-closing-time {
  margin-left: 5px;
  font-size: 11px;
  color: white;
  box-shadow: 0 0 2px black;
  padding: 3px 5px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 3px;
}

.restaurant-info {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  color: black;
  position: relative;
}

.restaurant-info i:hover {
  color: #0057e7;
  text-shadow: 0 0 5px white;
}

.food-list-header {
  font-size: 18px;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}

/* Buses */

.bus-list-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 10px;
  width: 100%;
  height: 150px;
}

.bus-list-loading i {
  color: #0057e7;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.bus-list-loading-long {
  margin-top: 10px;
}

.bus-stop-section-header {
  font-size: 18px;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}

.bus-stop-section-header i {
  color: #ff3333;
}

.bus-stop-section-header div {
  margin-left: 10px;
}

.bus {
  margin-left: 0;
  display: flex;
}

.bus-route {
  font-size: 16px;
}

.bus-route-color {
  box-shadow: 1px 0 1px 0px rgba(0,0,0,0.6);
  width: 5px;
}

.bus-route-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  padding-left: 10px;
}

.bus-arrival-times {
  font-size: 12px;
  color: #5a5a5a;
}

.bus-list-note {
  font-size: 9px;
  padding: 5px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  border-top: 1px solid gray;
}

.bus-list-note a {
  text-decoration: none;
}

.bus-list-empty {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
}

.duke-vans {
  font-size: 12px;
  color: #001A57;
}

.info-container {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

/* Settings */
.settings {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.settings-panel-open {
  font-size: 32px;
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  cursor: pointer;
  text-shadow: 0 0 2px black;
  z-index: 11;
}

.settings-panel-open:hover {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 4px black;
}

.settings-panel-close {
  color: white;
  font-size: 28px;
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
}

.settings-panel-close:hover {
  color: rgba(255, 255, 255, 0.9);
}

.settings-panel-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.settings-panel {
  width: 320px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  position: absolute;
  right: -320px;
  top: 0;
  height: 100%;
  z-index: 10;
}

.settings-panel-header {
  font-size: 32px;
}

.settings-section {
  margin-top: 30px;
  width: 100%;
}

.settings-section:first-child {
  margin-top: 0;
}

.settings-section-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: black;
  padding: 5px;
}

.settings-section-title {
  font-size: 24px;
  margin-left: 8px;
}

.settings-section-icon {
  font-size: 20px;
}

.settings-panel-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.panel-show {
  right: 0;
}

.panel-hide {
  right: -320px;
}

.panel-animate {
  transition: all 0.3s ease-in-out;
  transform: translateZ(0);
}

.settings-section-items {
  margin-top: 10px;
}

.bookmark-settings-items-container,
.dashboard-settings-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.bookmark-settings-items {
  margin: 0;
  padding: 0;
}

.bookmark-settings-item-create-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.bookmark-settings-item-create {
  padding: 3px 5px;
  background-color: green;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmark-settings-item-create i {
  font-size: 12px;
}

.bookmark-settings-item-create div {
  margin-left: 5px;
}

.bookmark-settings-item-create:hover {
  box-shadow: 0 0 10px white;
}

.bookmark-settings-items-empty {
  font-size: 18px;
  color: gray;
}

.bookmark-settings-item {
  display: flex;
  align-items: center;
  width: 280px;
  position: relative;
  margin-top: 10px;
  left: 0;
}

.bookmark-settings-item:first-child {
  margin-top: 0;
}

.bookmark-settings-item.deleted {
  opacity: 0;
  left: 250px;
  transition: all 0.3s ease-in;
}

.bookmark-settings-item-reorder {
  font-size: 16px;
  color: white;
  cursor: move;
}

.bookmark-settings-item-preview-image {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark-settings-item-preview-image img {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  box-shadow: 0 0 2px white;
}

.bookmark-settings-item-preview-image div {
  font-size: 12px;
  color: white;
}

.bookmark-settings-item-label {
  font-size: 16px;
  margin-left: 10px;
  cursor: default;
}

.bookmark-settings-item-placeholder {
  z-index: 11;
  color: white;
}

.bookmark-settings-item-delete {
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.bookmark-settings-item-delete:hover {
  color: rgba(255, 255, 255, 0.7);
}

.dashboard-settings-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.dashboard-settings-item:first-child {
  margin-top: 0;
}

.bookmark-settings-item .settings-item-switch-container {
  margin-left: 10px;
}

.settings-item-switch-container {
  width: 30px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  border: 1px solid gray;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.settings-item-switch-container.off {
  background-color: gray;
}

.settings-item-switch-container.disabled {
  background-color: white;
}

.settings-item-switch-container.enabled {
  background-color: rgb(0,122,255);
}

.settings-item-switch {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 1px black;
  transition: all 0.2s ease-in-out;
}

.settings-item-switch-container.enabled .settings-item-switch {
  left: 15px;
}

.dashboard-settings-item-label {
  font-size: 16px;
  margin-left: 10px;
}

.bookmark-editor-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bookmark-editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bookmark-editor-field-container:first-child {
  margin-top: 0;
}

.bookmark-editor-field-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.bookmark-editor-field {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  font-size: 24px;
  line-height: 28px;
  padding-left: 0;
  padding-bottom: 2px;
  background-color: transparent;
  color: white;
}

.bookmark-editor-field::placeholder {
  color: gray;
  font-size: 18px;
}

.bookmark-editor-field-focus {
  position: relative;
  top: -2px;
  height: 3px;
  width: 0;
  transition: all 0.3s ease-in;
  background-color: rgb(0, 122, 255);
}

.bookmark-editor-field-focus.focused {
  width: 100%;
}

.bookmark-editor-field-label {
  font-size: 12px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.new-bookmark-preview {
  margin-top: 40px;
}

.new-bookmark-preview .bookmark {
  padding: 0;
}

.new-bookmark-preview-icon {
  font-size: 48px;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-bookmark-preview .bookmark-label {
  bottom: -24px;
  opacity: 1;
}

.bookmark-editor-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 60px;
  width: 100%;
  margin-right: 40px;
}

.editor-button {
  width: 60px;
  height: 24px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
}

.editor-button:first-child {
  margin-left: 0;
}

.editor-button:hover {
  border-color: white;
}

.editor-button.disabled {
  background-color: gray;
  color: rgba(0,0,0,0.5);
  cursor: default
}

.editor-button.disabled:hover {
  border-color: transparent;
}

.bookmark-editor-create {
  background-color: green;
}

.bookmark-editor-cancel {
  background-color: gray;
}

.bookmark-editor-field-error {
  font-size: 10px;
  color: white;
  width: 250px;
  font-family: 'Roboto', sans-serif;
  visibility: hidden;
}

.bookmark-editor-field-error.warning,
.bookmark-editor-field-error.error {
  visibility: visible;
}

.bookmark-editor-field-error.warning {
  color: #fddd46;
}

.bookmark-editor-field-error.error {
  color: red;
}

.new-bookmark-preview .bookmark-image {
  background-color: white;
}

.notice-board {
  margin-top: 60px;
}

.announcement {
  background-color: rgba(0,0,0,0.7);
  color: white;
  border-left: 4px solid red;
  padding: 10px;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.announcement-icon {
  margin-right: 10px;
  font-size: 20px;
}

.announcement-title {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.announcement-description {
  font-size: 14px;
  color: lightgray;
}

.announcement-close {
  position: absolute;
  font-size: 14px;
  top: 5px;
  right: 5px;
}

.unselectable {
  -webkit-user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;
}
