body {
  background: no-repeat center center fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  font-family:
    'HelveticaNeue-UltraLight',
    'Helvetica Neue UltraLight',
    'Helvetica Neue',
    'Open-Light',
    sans-serif;

}

#main {
  width: 100%;
  height: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Time */
.time-display-container {
  color: white;
  text-shadow: 0 0 5px black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.time-display {
  font-size: 12em;
  font-weight: 500;
}

.date-display {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

/* Bookmarks */
.bookmarks-container {
  margin-top: 10px;
  display: flex;
  border-radius: 10px;
}

.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  padding-bottom: 0;
}

.bookmark-image {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
  background-color: white;
  z-index: 2;
  position: relative;
}

.bookmark-image:hover {
  box-shadow: 0 0 10px white;
}

.bookmark-image.blurred {
  filter: blur(3px);
}

.bookmark-label {
  font-size: 16px;
  color: white;
  text-shadow: 0 0 10px black;
  width: 70px;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  text-align: center;
  z-index: 1;
}

.bookmark-label.shown {
  opacity: 1;
  bottom: -20px;
  transition: all 0.3s ease;
}

/* Restaurants */
.list-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 250px;
  margin-left: 30px;
  box-shadow: 0 0 4px black;
}

.list-container:first-child {
  margin-left: 0;
}

.list-header {
  padding: 10px;
  background-color: #001A57;
  color: white;
  text-align: center;
  opacity: 0.8;
  height: 30px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid white;
}

.list-header div {
  margin-left: 10px;
}

.restaurant-list,
.bus-list {
  height: 150px;
  overflow: auto;
}

.restaurant {
  padding: 5px 0;
  cursor: default;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.restaurant:first-child {
  margin-top: 0;
}

.restaurant-label {
  margin-left: 10px;
}

.restaurant-name {
  font-size: 18px;
}

.restaurant-status-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2px;
}

.restaurant-status {
  padding: 5px 10px;;
  background-color: #00b300;
  border-radius: 10px;
  box-shadow: 0 0 2px black;
  font-size: 10px;
  color: white;
}

.restaurant-status.closed {
  background-color: red;
}

.restaurant-status.closing {
  background-color: #fddd46;
  color: black;
}

.restaurant-status-closing-time {
  margin-left: 5px;
  font-size: 11px;
  color: black;
}

.restaurant-info {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  color: black;
  position: relative;
}

.restaurant-info i:hover {
  color: #0057e7;
  text-shadow: 0 0 5px white;
}

/* Buses */

.bus-list-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 10px;
  width: 100%;
  height: 140px;
}

.bus-list-loading i {
  color: #0057e7;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.bus-list-loading-long {
  margin-top: 10px;
}

.bus-stop-section-header {
  font-size: 18px;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}

.bus-stop-section-header i {
  color: #ff3333;
}

.bus-stop-section-header div {
  margin-left: 10px;
}

.bus {
  padding: 5px;
  border-left: 8px solid;
  margin-top: 2px;
}

.bus:first-child {
  margin-top: 0;
}

.bus-route {
  font-size: 14px;
}

.bus-arrival-times {
  font-size: 12px;
  color: #5a5a5a;
}

.bus-list-note {
  font-size: 9px;
  padding: 5px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.bus-list-note a {
  text-decoration: none;
}

.bus-list-empty {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
}

.duke-vans {
  font-size: 12px;
  color: #001A57;
}

.info-container {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

.unselectable {
  -webkit-user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;
}
