/*********************
    MAIN DASHBOARD
**********************/

#time{
    font-size: 10em;
    color: white;
    text-shadow: 0 0 25px black;
    display: none;
    margin-bottom: 20px;
}

#clock{
    font-weight: 500;
}

#date{
    font-size: 30px;
}

.ui-helper-hidden-accessible{
    display: none;
}

body{
    background: no-repeat center center fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Open-Light', sans-serif;
}

#footer{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 12px;
    text-shadow: 0 0 10px black;
}

.divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,
    rgba(256, 256, 256, 0),
    rgba(256, 256, 256, 0.75),
    rgba(256, 256, 256, 0));
}


/* Link display */
#link-table{
    opacity: 0.0;
}

.block{
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.block:hover{
    box-shadow: 0 0 15px white;
}

.label{
    font-size:18px;
    color: white;
    text-shadow: 0 0 25px black;
    height: 32px;
    /*margin-top:5px;*/
    max-width: 100px;
    word-wrap: break-word;
}

/* Information Tables */
.info-header{
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: black;
    height: 20px;
    width: 224px;
    background-color: rgba(256,256,256,0.9);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 10px white;
}

.info{
    background-color: rgba(0,0,0,0.7);
    width:200px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 12px;
    box-shadow: 0 0 10px white;
    height: 150px;
    max-height: 150px;
    overflow: hidden;
    overflow-y: scroll;
}

/* Dining */
.venue{
    display:inline-block;
    margin-left: 10px;
}

.status{
    display:inline-block;
    margin-left: 15px;
    margin-top: 2px;
}

.venue-status{
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 14px;
    color: white;
    height: 24px;
    overflow: hidden;
    cursor: default;
}

.venue-status a{
    color: #22adf2;
}

.venue-status:hover{
    color:black;
    background-color:rgba(256,256,256,0.9);
}

#dining-hours{
    display: none;
}

/* Bus times */
#bus-times{
    display: none;
}

/*********************
      UTILITIES
**********************/

/* Scrollbars */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.8);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(256,256,256,0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(256,256,256,0.4);
}

body::-webkit-scrollbar{
    width: 0px;
}

.info::-webkit-scrollbar {
    width: 6px;
}

#to-do-list::-webkit-scrollbar {
    width: 3px;
}

#min-link-table::-webkit-scrollbar {
    width: 6px;
}

#manage-links::-webkit-scrollbar {
    width: 6px;
}

#settings-panel::-webkit-scrollbar {
    width: 0px;
}

#meeting-times::-webkit-scrollbar{
    width:6px;
}

#new-event-prompt ul::-webkit-scrollbar{
    width:6px;
}

#new-event-prompt ul::-webkit-scrollbar-thumb{
    /*border-radius:0;*/
}

#new-event-prompt ul::-webkit-scrollbar-track{
    width:6px;
    border-radius:0px;
    border-bottom-right-radius:5px;
    background-color:black;
}

/* Tooltips */
.ui-tooltip {
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 4px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    height: 20px;
}

.venue-tooltip {
    border: 1px solid black;
    border-right: 0px;
    border-radius: 20px 0 0 20px;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Open-Light', sans-serif;
    background-color: rgba(256,256,256,0.9);
    font-size: 14px;
    color: black;
}

.min-link-tooltip {
    color: white;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid white;
    border-right: 0px;
    border-radius: 10px 0 0 10px;
    padding-left: 12px;
    word-wrap: break-word;
}

.importance-tooltip{
    color: white;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid white;
    border-radius: 5px;
    padding-left:8px;
    word-wrap: break-word;
}

/*********************
      SETTINGS
**********************/
#settings-image{
    opacity: 0.7;
}

#settings-image:hover{
    opacity: 1.0;
}

#close-icon:hover{
    opacity: 0.8;
}

.section-header{
    font-size: 24px;
    margin-bottom:10px;
}

.sub-section-header{
    font-size: 18px;
}

.button{
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px white;
    box-shadow: 0 0 8px white;
    width:70px;
    height: 20px;
    color:white;
    font-size: 14px;
    padding-top: 2px;
    text-align:center;
}

.button.disabled:hover{
    box-shadow: none;
}

.disabled{
    background-color: darkgray;
    box-shadow: none;
    color: white;
    cursor: default;
    border: 1px solid white;
}

.button:hover{
    box-shadow: 0 0 15px white;
}

#settings{
    position: fixed;
    top: 0;
    right: 0;
}

#settings-panel{
    box-shadow: 0 0 15px black;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

#min-link-table{
    /*margin-top: 10px;*/
    height: 175px;
    max-height: 175px;
    overflow: hidden;
    overflow-y: auto;
}

/* Switches */
.switch{
    width: 40px;
    height: 20px;
    border-radius:20px;
    border:solid 1px gray;
    background-color:#05B8CC;
    cursor: pointer;
}

.switch-ball{
    position:relative;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 5px black;
}

.switch.small{
    width: 25px;
    height: 10px;
    border-radius: 10px;
}

.switch-ball.small{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    right: -15px;
}

.field{
    outline: none;
    border: solid 1px black;
    height: 24px;
    width: 125px;
    font-size: 14px;
    border-radius: 5px;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Open-Light', sans-serif;
    background-color: rgba(256,256,256,0.9);
    color: black;
    padding: 3px;
    padding-left: 5px;
}

.field-label{
    color: white;
    font-size: 14px;
}

/* Add-link menu*/
#add-button{
    margin-top: 10px;
    width: 50px;
}

#create-button{
    display: inline-block;
}

#cancel-button{
    display: inline-block;
    margin-left: 15px;
}

#add-link-prompt{
    width:250px;
    margin-top:10px;
    padding-top: 10px;
    height: 335px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#preview{
    border-radius: 10px;
}

/*/!* Created links table*!/*/
/*.min-link{*/
    /*border: 1px solid white;*/
    /*background-color: white;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 0 5px white;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*cursor: pointer;*/
/*}*/

/*.min-link:hover{*/
    /*box-shadow: 0 0 15px white;*/
/*}*/

/*.min-label{*/
    /*height: 28px;*/
    /*font-size: 12px;*/
    /*word-wrap: break-word;*/
    /*color: white;*/
    /*margin-top: 5px;*/
/*}*/

.min-link-label{
    font-size: 14px;
    display: inline-block;
    transform: translateY(-3px);
    cursor: default
}

.delete-link{
    width:15px;
    height:15px;
    display: inline-block;
    float: right;
    cursor:pointer;
}

.delete-link:hover{
    opacity: 0.8;
}

/* Link manager */
#manage-links{
    height: 317px;
    max-height: 317px;
    overflow: hidden;
    overflow-y: scroll;
}

#close-notification{
    cursor:pointer;
}

#close-notification:hover{
    opacity: 0.8;
}

#info-box{
    width:230px;
    height:80px;
    padding:5px;
    /*border-bottom-left-radius:10px;*/
    /*border-bottom-right-radius:10px;*/
    background-color:rgba(0,0,0,0.8);
    /*border: 1px solid white;*/
    border-bottom: 1px solid white;
}

#info-box-pulldown{
    width:40px;
    height:10px;
    background-color:white;
    box-shadow:0 0 5px black;
    cursor:pointer;
    border-top:none;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    opacity:0.8;
}

#info-box-pulldown:hover{
    opacity:1.0;
    box-shadow:0 0 10px black;
}

.panel-shifter{
    width:30px;
    height:90px;
    background-color:rgba(0,0,0,0.8);
    cursor:pointer;
}

.panel-shifter.disabled{
    cursor:default;
}

.panel-shifter.disabled:hover{
    background-color:rgba(0,0,0,0.8);
    box-shadow:none;
}

.panel-shifter:hover{
    background-color:rgba(220,220,220,0.8);
    box-shadow: inset 0 0 3px black;
}

#panel-to-left{
    border-left: 1px solid white;
    border-bottom:1px solid white;
    border-bottom-left-radius:10px;
}

#panel-to-left.disabled{
    border-top: none;
    border-right: none;
}

#panel-to-right{
    border-right: 1px solid white;
    border-bottom:1px solid white;
    border-bottom-right-radius:10px;
}

#panel-to-right.disabled{
    border-top: none;
    border-left: none;
}

div.disabled .shifter-icon{
    opacity:0.4;
}

.info-box-header{
    color:white;
    font-size:16px;
}

.checkbox{
    width:10px;
    height:10px;
    display:inline-block;
    border:solid 1px white;
    background-color:transparent;
    cursor:pointer;
    /*border-radius:1px;*/
    vertical-align:top;
}
.checkbox:hover{
    background-color:rgba(256,256,256,0.3);
}

#to-do-list{
    width:200px;
    max-height:48px;
    overflow:hidden;
    overflow-y:scroll;
}

.importance{
    display:inline-block;
    margin-right:5px;
    margin-top:1px;
    vertical-align: top;
    float:right;
    width:9px;
    height:9px;
    border-radius:9px;
    border: 1px solid white;
    /*background-color: white;*/
    cursor:pointer;
}

.importance:hover{
    background-color:rgba(256,256,256,0.5);
}

.checkbox.finished{
    background-color:#05B8CC;
    box-shadow:inset 0 0 2px black;
}

.todo.finished{
    text-decoration: line-through;
}

.delete-todo:hover{
    opacity: 0.8;
}

.importance.important{
    background-color:white;
    box-shadow:inset 0 0 2px black;
}

#add-todo{
    opacity:0.8;
}

#add-todo:hover{
    opacity:1.0;
}

#new-todo::-webkit-input-placeholder {
    color: rgba(130,130,130,1.0)
}

.setting-tab{
    background-color:black;
    font-size:16px;
    width:50px;
    text-align:center;
    color:white;
    padding:5px 10px;
    border:1px solid white;
    border-bottom:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor:pointer;
    /*box-shadow: inset 0 -4px 6px -4px white;*/
}

.setting-tab.selected{
    background-color:white;
    color:black;
    /*box-shadow: inset 0 -4px 3px -4px black;*/
}

.setting-tab:hover{
    background-color:rgba(256,256,256,0.4);
}

.setting-tab.selected:hover{
    background-color:white;
}

#setting-tabs td{
    padding:0 2px;
    /*padding-bottom:0px;*/
}

.eventTypeSelect{
    background-color:white;
    cursor:pointer;
    height:25px;
}

.eventTypeSelect:hover{
    background-color:lightgray;
}

.selectedEventType{
    width:120px;
    background-color:white;
    height:25px;
    border:1px solid gray;
    position:relative;
    cursor:pointer;
}

.selectedEventType:hover{
    background-color:whitesmoke;
}

.selectedEventType.active:after{
    border-width: 0 4px 4px 4px;
}

.selectedEventType:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -3px;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: grey transparent;
}

.selectedTime{
    width:30px;
    border:1px solid white;
    padding:5px;
    height:14px;
    position:relative;
    background-color:black;
    vertical-align: middle;
    cursor:pointer;
}

.selectedTime:hover{
    background-color:dimgray;
}

.selectedTime.active:after{
    border-width: 0 4px 4px 4px;
}

.selectedTime:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: -3px;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: white transparent;
}

.timeItem{
    background-color:black;
    cursor:pointer;
    font-size: 14px;
    padding:5px;
    color:white;
}

.timeItem:hover{
    background-color: #cfcfcf;
    color:black;
}

.timeSelect{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border:1px solid white;
    border-top:none;
    list-style-type:none;
    max-height:145px;
    overflow:hidden;
    overflow-y:scroll;
    padding-left:0;
    width:40px;
    margin-top:0;
    position:absolute;
    z-index:500;
}

.timePrompt{
    display:inline-block;
    vertical-align:top;
}

.timeLabel{
    color:white;
    font-size:14px;
    display:inline-block;
    margin-top:5px;
}

.dayCheckBox{
    width:10px;
    height:10px;
    cursor:pointer;
    border:1px solid white;
    background-color:transparent;
}

.dayCheckBox:hover{
    background-color:rgba(256,256,256,0.3);
}

.deleteMeetingTime:hover{
    opacity:0.8;
}

#assignmentFor{
    width:100px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#class-expander{
    display:inline-block;
    vertical-align:middle;
    background-color: #b4b4b4;
    border:1px solid black;
    margin-left:-4px;
    width:24px;
    height:24px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    cursor:pointer;
}

#class-expander:hover{
    background-color: #797979;
}

#class-expander.active{
    background-color: #2b2b2b;
    box-shadow: inset 0 0 2px white;
}

#class-expander.active:hover{
    background-color: #2b2b2b;
}

#class-expander-triangle{
    width: 0;
    height: 0;
    margin-left: 7px;
    margin-top: 10px;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: white transparent;
}

.classSelect{
    border-top:none;
    list-style-type:none;
    margin-top:0;
    position:absolute;
    padding-left: 0;
    z-index:9999;
}

.classItem{
    width:97px;
    margin-left:1px;
    padding:5px;
    background-color:white;
    color:black;
    cursor:pointer;
}

.classItem:hover{
    background-color:lightgray;
}

.timeSelect.small{
    width:30px;
}

.selectedTime.small{
    width:20px;
    font-size:12px;
}

.timeItem.small{
    font-size:12px;
    width:20px;
}

.created-event{
    display:inline-block;
}

.close-event{
    display:inline-block;
    float:right;
    cursor:pointer;
    margin-top:2px;
}

.close-event:hover{
    opacity:0.8;
}

.past{
    text-decoration:line-through;
    color:gray;
}